{% if data.widget.btn_url %}
  <a class="btn_link" style="text-decoration:none;color:none;" href="{{ data.widget.btn_url }}">
{% endif %}
  <div id="ec-button-container" class="ec-button-{{ data.widget.style }}">
    <div style="width: inherit;"class="ec-size-{{ data.widget.btn_size }}">
      {% if data.widget.btn_icon %}
        <div class="{{ data.widget.btn_icon }}">
      {% else %}
        <div class="img_wrapper">
          {% if data.widget.btn_image %}
            <img class="img_icon" style="size: contain; position: left;" src="{{ apos.attachments.url(data.widget.btn_image) }}" alt="user-defined image">
          {% endif %}
      {% endif %}
        <strong>{{ data.widget.btn_title }}</strong>
      </div>
    </div>
  </div>
</a>
