#ec-button-container{
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  text-align: center;
  line-height: 30px;
  [data-style-capitalize='true']{
    text-transform: uppercase;
  }
  .img_wrapper{
    margin-right: 0;
  }
}


#btn_link{
  width: 100%;
  height: 100%;
}
.img_wrapper{
  height: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
}
.img_icon{
  max-width:90%;
  max-height:90%;
}
