//Customize color options for EC Button widget
@button-color-1: #ffa12d;
@button-color-2: #00EE00;
@button-color-3: #EE00EE;
@button-color-4: #EEEE00;
@button-color-5: #0000EE;

//Customize size options for EC Button Widget
@button-size-1: 40px;
@button-size-2: 60px;
@button-size-3: 80px;



//Enact style settings based on the variables above
.ec-button-1{
  color: white;
  background-color: @button-color-1;
  border: 3px solid @button-color-1;
}
.ec-button-2{
  color: white;
  background-color: @button-color-2;
  border: 3px solid @button-color-2;
}
.ec-button-3{
  color: white;
  background-color: @button-color-3;
  border: 3px solid @button-color-3;
}
.ec-button-4{
  color: white;
  background-color: @button-color-4;
  border: 3px solid @button-color-4;
}
.ec-button-5{
  color: white;
  background-color: @button-color-5;
  border: 3px solid @button-color-5;
}
.ec-button-1:hover{
  color: @button-color-1;
  background-color: white;
  border: 3px solid @button-color-1;
}
.ec-button-2:hover{
  color: @button-color-2;
  background-color: white;
  border: 3px solid @button-color-2;
}
.ec-button-3:hover{
  color: @button-color-3;
  background-color: white;
  border: 3px solid @button-color-3;
}
.ec-button-4:hover{
  color: @button-color-4;
  background-color: white;
  border: 3px solid @button-color-4;
}
.ec-button-5:hover{
  color: @button-color-5;
  background-color: white;
  border: 3px solid @button-color-5;
}

.ec-size-1{
  height: @button-size-1;
}
.ec-size-2{
  height: @button-size-2;
}
.ec-size-3{
  height: @button-size-3;
}
